.toolbar {
    display: flex;
    flex-direction: row;
}

body {
    margin: 0.3em;
    padding: 0.25em;
}

.home-btn {
    background-color: transparent;
    margin: 0em;
    padding: 10ems;
}

.home-btn:hover {
    background-color: rgba(211, 211, 211, 50)
}

.home-btn:active {
    color: white;
}

.healthfocus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.health-btn {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

#email-submit {
    width: 5em;
}

#email-submit:active {
    background-color: green;
}